/* Font Sizes */
* {
    font-size: 62.5%;
    background-color: rgb(150, 255, 171);
}

h1 {
    font-size: 4.0rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.6rem;
}

a, .aboutLeft button, .aboutRight input, .aboutLeft input, .aboutRight input, .aboutRight button {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

p {
    font-size: 1.6rem;
} 

/* GENERAL */
nav, nav > *, .aboutFinder, .aboutFinder > *, .recipeInfo, .aboutRight, .buttonsAndForms, .recipeInfoMid {
    display: flex;
}

nav > *, .aboutFinder > *, .recipeInfo >*, .buttonsAndForms, .aboutRight {
    flex-basis: 100%;
}

/* NAVIGATION */
nav {
    background-color: rgb(1, 37, 44);
}

nav h2 {
    color: rgb(255, 255, 255);
    background-color: rgb(1, 37, 44);
}

nav > * {
    flex-direction: column;
    align-items: center;
    background-color: rgb(1, 37, 44);
}

nav img {
    max-width: 683px;
}

nav li a, nav li {
    list-style: none;
    text-decoration: none;
}

nav ul {
    gap: 1rem;
}

nav li {
    background-color: rgb(42, 93, 76);
    min-width: 20rem;
    height: 3rem;
    text-align: center;
    padding-top: 0.7rem;
}

.selectedNav {
    background-color: rgb(119, 199, 135);
    color: white;
}

/* APP DESCRIPTION SECTION */
.aboutRight, .aboutLeft, .aboutRight > *, .aboutLeft > * {
    background-color: rgb(42, 93, 76);
    color: white;
}

.aboutFinder {
    background-color: rgb(150, 255, 171);
    margin-top: 3rem;
    justify-content: space-around;
}

.aboutLeft, .aboutRight {
    flex-basis: 45%;
    justify-content: space-around;
    border-radius: 2%;
}

.aboutLeft {
    flex-direction: column;
    align-items:center;
}

.aboutLeft img {
    max-width: 500px;
    min-width: 200px;
    margin-bottom: 20px;
    border-radius: 1%;
}

.aboutRight {
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.appDescription {
    font-size: 2.4rem;
    flex-basis: 85%;
}


/* BOTTOM SECTION, SEARCH FEATURES */

.buttonsAndForms{
    font-size: 2.5rem;
    margin-top: 2rem;
    justify-content: center;
}

label {
    font-size: 2.5rem;
}

#recipebutton, #ingredientButton, input {
    background-color: rgb(150, 255, 171);
}

#ingredientButton {
    margin-bottom: 10px;
}

#hiddenIngredientButton, #hiddenIngredientInput {
    display: none;
}



/* Toggle Hidden Ingredient Section */

.recipeInfoLeft, .recipeInfoRight, .recipeInfoMid {
    border: thin solid white;
}

.recipeInfo {
    margin-top: 4.5rem;
}

.recipeInfoLeft, .recipeInfoLeft > *, .recipeInfoMid, .recipeInfoRight, .recipeInfoRight > *, .recipeInfoMid > * {
    background-color: rgb(42, 93, 76);
    color: white;
}


.scrollList {
    padding: 2rem;
}

.scrollList li, #recipeIngredients, #recipeDirections {
    background-color: rgb(42, 93, 76);
    font-size: 2rem;
}


.recipeInfoMid {
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-top: 4.5rem;
}

.recipeInfoMid img{
    max-width: 275px;
    max-height: 185px;
    justify-content: center;
    border-radius: 2%;
}

.recipeInfoRight {
    padding: 2rem;
}

/* SPECIAL HIDDEN FEATURE */
.hidden {
    display: none;
}

@media screen and (max-width: 1005px) {

    /* NAVIGATION */
    nav {
        flex-direction: column;
        flex-basis: 100%;
    }

    nav img {
        justify-items:center;
        width: 100%;
        margin: 0 auto;
    }

    nav ul{
        padding: 0 0 50px 0;
        margin: 0 auto;
    }
    /* AboutFinder */
    
    #aboutLeftToHide {
        display: none;
    }

    #hiddenIngredientButton, #hiddenIngredientInput {
        display: block;
    }

    


}