
/* Font Sizes */
* {
    font-size: 62.5%;
    background-color: rgb(150, 255, 171);
}

h1 {
    font-size: 4.0rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.6rem;
}

a {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

p, button, label {
    font-size: 1.6rem;
} 

/* GENERAL */
nav, nav > *, .aboutFinder, .aboutFinder > *, .recipeInfo, .aboutRight, .buttonsAndForms, .recipeInfoMid {
    display: flex;
}

nav > *, .aboutFinder > *, .recipeInfo >*, .buttonsAndForms, .aboutRight {
    flex-basis: 100%;
}

/* NAVIGATION */
nav {
    background-color: rgb(1, 37, 44);
}

nav h2 {
    color: rgb(255, 255, 255);
    background-color: rgb(1, 37, 44);
}

nav > * {
    flex-direction: column;
    align-items: center;
    background-color: rgb(1, 37, 44);
}

nav img {
    max-width: 683px;
}

nav li a, nav li {
    list-style: none;
    text-decoration: none;
}

nav ul {
    gap: 1rem;
}

nav li {
    background-color: rgb(42, 93, 76);
    min-width: 20rem;
    height: 3rem;
    text-align: center;
    padding-top: 0.7rem;
}

.selectedNav {
    background-color: rgb(119, 199, 135);
    color: white;
}

/* APP DESCRIPTION SECTION */
.aboutRight, .aboutLeft, .aboutRight > *, .aboutLeft > * {
    background-color: rgb(42, 93, 76);
    color: white;
}

.aboutFinder {
    /* flex: 1 1 100%; */
    background-color: rgb(150, 255, 171);
    margin-top: 3rem;
    justify-content: space-around;
}

.aboutLeft, .aboutRight {
    flex-basis: 45%;
    justify-content: space-around;
    border-radius: 2%;
}

.aboutLeft {
    flex-direction: column;
    align-items:center;
}

.aboutLeft img {
    max-width: 500px;
    min-width: 200px;
    /* flex-basis: 50%; */
    border-radius: 1%;
}

.aboutRight {
    align-items: center;
}

.appDescription {
    font-size: 2.4rem;
    flex-basis: 85%;
}


/* BOTTOM SECTION, SEARCH FEATURES */

.buttonsAndForms{
    font-size: 2.5rem;
    margin-top: 2rem;
    justify-content: center;
    /* margin-left: 2.5rem; */
}

label {
    font-size: 2.5rem;
}

button, input {
    background-color: white;
}

input {
    margin-right: 2rem;
}

/* Toggle Hidden Ingredient Section */


.recipeInfo {
    margin-top: 5em;
}

.recipeInfoLeft, .recipeInfoLeft > *, .recipeInfoMid, .recipeInfoRight, .recipeInfoRight > *, .recipeInfoMid > * {
    background-color: rgb(42, 93, 76);
    color: white;
}


.scrollList {
    overflow: scroll;
    height: 50rem;
    padding: 2rem;
}

.scrollList li, #recipeIngredients > *, #recipeDirectioons {
    background-color: rgb(42, 93, 76);
    font-size: 2rem;
}


.recipeInfoMid {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recipeInfoMid img{
    max-width: 275px;
    max-height: 185px;
    justify-content: center;
    border-radius: 2%;
}

.recipeInfoRight {
    padding: 2rem;
}